{% extends "base.html" %}
{% block title %}{{ article.title|striptags|title }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}

{% block og_title %}{{ article.title|striptags|title }}{% endblock %}

{% block og_description %}
  {% if article.og_description %}
  {{ article.og_description }}
  {% else %}
  {{ article.summary|striptags }}
  {% endif %}
{% endblock %}

{% block description %}
  {% if article.og_description %}
  {{ article.og_description }}
  {% else %}
  {{ article.summary|striptags }}
  {% endif %}
{% endblock %}

{% block og_url %}{{ SITEURL }}/{{ article.url }}{% endblock %}

{% if article.header %}
{% block meta_content %}
  <meta property="og:image" content="{{ SITEURL }}/{{ article.header_image }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">
{% endblock %}
{% endif %}

{% block content %}
{% if article.header %}
<div class="pt-5 big-header" style="background-image: url('{{ SITEURL }}/{{ article.header_image }}');
background-attachment: fixed;">
    <div class="mb-2 container">
      <div class="row my-md-4 pb-md-5">
        <div class="col-md-12 my-5 text-lg-left text-center align-self-center">
          <h1 class="display-1 article-main-title">{{ article.title }}</h1>
            {% if article.subtitle %}
          <h1 class="text-left article-sub-title">{{ article.subtitle }}</h1>
            {% endif %}
        </div>
      </div>
    </div>
</div>
{% else %}
<!--<div class="container mt-5">-->
  <div class="row mt-5 pl-md-5 pr-md-5 article-header">
    <div class="col-md-12">
      <h1 class="display-1 text-dark article-main-title mt-3">{{ article.title }}</h1>
      {% if article.subtitle %}
        <h1 class="text-left text-dark article-sub-title">{{ article.subtitle }}</h1>
      {% endif %}
    </div>
  </div>
<!--</div>-->
{% endif %}
<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-md-9">
      <article>
        <div class="entry-content">
          {{ article.content }}
        </div><!-- /.entry-content -->
        <div class="author-information mb-3">
          The article <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></i> was written by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>.
        </div>
        {% if article.share_post and article.status != 'draft' %}
          <div class="social-sharing mb-3">
            <h3>If you enjoyed reading, consider sharing:</h3>
            <div class="row">
              <div class="col-3"><a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><img src="{{ SITEURL }}/theme/img/twitter.svg" /></a></div>
              <div class="col-3"><a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><img src="{{ SITEURL }}/theme/img/facebook.svg" /></a></div>
              <div class="col-3"><a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><img src="{{ SITEURL }}/theme/img/google.svg" /></a></div>
             </div>
          </div>
        {% endif %}
      </article>
      <div class="comments my-3">
        <h3 id="comments">COMMENTS</h3>
        <div id="current-comments"></div>
      <div class="comment">
        <form method="post" action="https://api.staticman.net/v2/entry/uetke/website_comments/master/comments" id="comment-form">
          <input name="fields[url]" type="hidden" value="{{ article.url }}" />
            <div class="form-group required row">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
                <input class="form-control" required="required" name="fields[name]" type="text" id="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">E-mail:</label>
              <div class="col-sm-10">
                <input name="fields[email]" required="required" class="form-control" id="email" type="email" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="website">Website:</label>
              <div class="col-sm-10">
               <input name="fields[website]" class="form-control" id="website" type="text">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="message">Message:</label>
              <div class="col-sm-10">
                <textarea name="fields[message]" required="required" class="form-control" id="message"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-secondary mb-2" id="submit">Submit</button>
        </form>
      </div>
    </div>
      {% include 'related_articles.html' %}
    </div>

    <!-- SIDEBAR -->

    <div class="col-md-3 side-bar d-none d-md-block">
      <div class="row">
        <div class="share-sidebar">
        {% if article.share_post and article.status != 'draft' %}
        <h3>Share:</h3>
          <div class="col-3"><a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><img src="{{ SITEURL }}/theme/img/twitter.svg" /></a></div>
          <div class="col-3"><a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><img src="{{ SITEURL }}/theme/img/facebook.svg" /></a></div>
          <div class="col-3"><a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><img src="{{ SITEURL }}/theme/img/google.svg" /></a></div>
        {% endif %}
        </div>
      </div>
      <div class="latest-articles mt-3">
        <p class=""> Latest Articles</p>
        <ul data-spy="affix" data-offset-top="10">
          {% for art in articles[:10] %}
            <li><a href="{{ SITEURL }}/{{ art.url }}">{{ art.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{{ SITEURL }}/theme/js/comment_submit.js"></script>
<script>
$(document).ready(function () {
   $.ajax({
       type: 'GET',
       url: '{{ SITEURL }}/comments/{{ article.url }}comments.html',
       crossDomain: true,
       success: function(data){
           $('#current-comments').html(data);
       },
       error: function(){
           $('#current-comments').html('<h3 class="mb-3">No comments yet, be the first!</h3>');
       }
   });
});
{% endblock %}
{% block custom_header_links %}
{% endblock %}