<div class="py-md-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pb-3 text-secondary">What our courses offer</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-md-4">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="fas fa-wrench fa-3x"></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Discover new tools</h4>
              <p>From packages to software and libraries. Discover new tools to become more efficient.&nbsp;</p>
            </div>
          </div>
          <div class="row my-md-4">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="fas fa-edit fa-3x"></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Customized contents</h4>
              <p>We can develop courses around your own needs. From specific devices to applications.</p>
            </div>
          </div>
          <div class="row my-md-4">
            <div class="col-2 order-lg-2 col-2 text-center"><i class="fab fa-connectdevelop fa-3x"></i></i></div>
            <div class="col-10 text-lg-right text-left order-lg-1">
              <h4 class="text-primary">Connect</h4>
              <p>Join a growing community. Learn how to ask for help and where to look for answers.</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-md-4">
            <div class="col-2 text-center"><i class="fas fa-battery-full fa-2x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">Batteries included</h4>
              <p>Our manuals cover much more than the topics in the class, for you to keep learning on your own.</p>
            </div>
          </div>
          <div class="row my-md-4">
            <div class="col-2 text-center"><i class="fas fa-clone fa-3x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">Design Patterns</h4>
              <p>Learn how to design the structure of your code for making it reusable and extendable</p>
            </div>
          </div>
          <div class="row my-md-4">
            <div class="col-2 text-center"><i class="fas fa-users fa-3x"></i></div>
            <div class="col-10">
              <h4 class="text-primary">User Interfaces</h4>
              <p>Don't think that everything in the lab is black and white. Learn how to build user interfaces.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>