<!-- Contact Us -->
  <div class="py-5 section-primary" id="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 animate-in-left">
          <form class="" method="POST" action="https://formspree.io/sales@uetke.com">
            <h1 class=""><i class="fa fa-user fa-fw"></i>Contact Us</h1>
            <div class="form-group">
              <label for="inlineName">Name:</label>
              <input type="text" class="form-control" id="inlineName" placeholder="Your Name" name="name" required="required"> </div>
            <div class="form-group">
              <label for="inlineEmail">E-mail:</label>
              <input type="text" class="form-control" id="inlineEmail" placeholder="Your E-mail" name="_replyto" required="required">
            </div>
            <div class="form-group">
              <label for="inlineMessage">Message:</label>
              <textarea class="form-control" id="inlineMessage" rows="3" name="message" data-error="Please,leave us a message." required="required"></textarea>
            </div>
            <button type="submit" class="btn my-3 btn-secondary">Contact Us</button>
          </form>
        </div>
      </div>
    </div>
  </div>