{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block description %}Uetke specializes in developing software for scientific research. We also offer trainings and coaching{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
  <!-- Cover -->
  <div class="pt-5 bg-primary big-header" style="background-image: url('{{ SITEURL }}/theme/img/contact_header.jpg');background-position:center center;background-repeat:no-repeat;background-size:cover;">
    <div class="container mb-3 pb-3">
      <div class="row">
        <div class="col-md-12 my-5 text-lg-left text-center align-self-center">
          <h1 class="display-1 text-dark main-title">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="lead">The best way to contact us is through e-mail. Just drop us a line at:
            <br>
            <a href="mailto:sales@uetke.com">sales@uetke.com</a>
          </p>
        </div>
        <div class="col-md-6">
          <p class="lead" contenteditable="true">You can also find us on:</p>
          <p class="lead">
            <a href="https://github.com/uetke/">Github</a>
          </p>
          <p class="lead">
            <a href="https://www.facebook.com/uetke/">Facebook</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h1 class="">Uetke</h1>
          <p class="lead">Uetke is a company registered in Amsterdam, The Netherlands.</p>
          <p class="">KvK-nummer: 67908071
            <br> </p>
          <p class="">Postal Address:&nbsp;
            <br>Bosboom Toussaintstraat 6-1&nbsp;
            <br>1054AR, Amsterdam&nbsp;
            <br>The Netherlands</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}