{% extends "base.html" %}
{% block title %}Cookie Policy{% endblock %}
{% block description %}Cookie Policy{% endblock %}
{% block keywords %}Cookies{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Cookie Policy for Uetke</h1>
                <p>This is the Cookie Policy for Uetke, accessible from https://www.uetke.com</p>

                <p><b>Python for the Lab</b> does not store cookies on your computer, neither from third parties. We use
                    server
                    access logs to monitor the most popular articles and detect possible problems or abuses of the
                    website.</p>

                <p>However if you are still looking for more information then you can contact us through one of our
                    preferred
                    contact methods:
                <ul>
                    <li>Email: aquiles@uetke.com</li>
                    <li>By visiting this link: https://uetke.com/contact</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}