 <!-- Location -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-cs-12">
          <img class="d-block img-fluid float-left rounded" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyByJ-myQrLo6jY5sDtMWYE3ejAhzC64I4s&markers=Meet+Berlage&center=Meet+Berlage&zoom=15&size=640x480&sensor=false"> </div>
        <div class="col-md-4 col-xs-12">
          <h1 class="">Our Location</h1>
          <p class="lead">Our courses are given at <b style="font-weight: bold;">Meet Berlage</b>, a great location just 5 minutes away from Amsterdam Centraal Station</p>
          <p class="">Do you prefer a course at your own location? Drop us a line at courses@pythonforthelab.com or through the form below.
            <br> </p>
        </div>
      </div>
    </div>
  </div>
