<div class="text-center bg-light p-0"> <!-- Courses Prices -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card m-1 p-2">
            <div class="card-block">
              <p class="lead"><i>Advanced Python for the Lab</i></p>
            </div>
            <div class="card-block my-0">
              <h1><b>€750</b> <sup>1</sup></h1>
              <p class="">3 days</p>
              <hr>
              <p>Group of 5 people</p>
              <hr>
              <p>Personalized</p>
              <hr>
              <p>Advanced topics</p>
              <hr>
              <p>Complex devices</p>
            </div>
            <div class="card-block">
              <a href="{{ SITEURL }}/courses/advanced" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-primary m-1 text-white p-2">
            <div class="card-block">
              <p class="lead"><i>Introduction Python for the Lab</i></p>
            </div>
            <div class="card-block my-0">
              <h1><b>€550</b> <sup>1, 2, 3</sup></h1>
              <p class="">3 days</p>
              <hr>
              <p>Group of 7 people</p>
              <hr>
              <p>Copy of the book</p>
              <hr>
              <p>Real Device</p>
              <hr>
              <p>Build a GUI</p>
            </div>
            <div class="card-block">
              <a href="{{ SITEURL }}/courses/pythonlab" class="btn btn-secondary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-1 p-2">
            <div class="card-block">
              <p class="lead"><i>Git for Scientists</i></p>
            </div>
            <div class="card-block my-0">
              <h1><b>€350</b> <sup>1, 3</sup></h1>
              <p class="">2 days</p>
              <hr>
              <p>Up to 10 people</p>
              <hr>
              <p>Best practices</p>
              <hr>
              <p>Sharing</p>
              <hr>
              <p>Packaging</p>
            </div>
            <div class="card-block">
              <a href="{{ SITEURL }}/courses/gitscience" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-left">
          <p class="m-0">1: Prices per person, not including taxes.</p>
          <p class="m-0">2: Includes a copy of the book: Python for the Lab.</p>
          <p class="m-0">3: Lunch is included.</p>
        </div>
      </div>
    </div>
  </div>