{% extends "base.html" %}
{% block title %}Git for Scientists: Learn the best tool for organizing your work{% endblock %}
{% block description %}Learn how Git can help you get more organized with your work. Learn all the ins and outs of the best version control system and how it can help you in your daily tasks.{% endblock %}
{% block keywords %}Courses, Git, Github, Gitlab, Bitbucket{% endblock %}

{% block content %}
  <!-- Cover -->
  <div class="pt-5 bg-primary big-header" id="pythonlab-header">
    <div class="container mb-2 pb-5">
      <div class="row my-4 pb-5">
        <div class="col-md-12 my-5 text-center align-self-center">
          <h1 class="text-dark display-1 main-title">Git for scientists</h1>
          <h1 class="text-dark sub-title">Track changes, work in teams, don't lose data</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Article style section -->
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <p class="lead text-justify">Git version control is the most useful tool from which scientists can benefit, not only for developing sotfware but also to collaborate in teams. Learn by doing from real-world examples!</p>
          <p class="text-justify">The course <em>Git for Scientists</em> is aimed at groups of up to 10 people that are willing to learn how to achieve a professional workflow and how to collaborate on projects.</p>
          <p class="text-justify">We will focus on Git best practices, no advanced programming knowledge is required for this course.</p>
        </div>
        <dic class="col-md-4 col-lg-6 d-none d-md-block" style="background-image: url('{{ SITEURL }}/theme/img/python_for_the_lab_side.jpg');background-position:center center;background-size:cover;"></dic>
      </div>
    </div>
  </div>
  <!-- Syllabus -->
  <div class="py-2 mb-3" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="pb-2 text-left">Syllabus</h1>
          <p class="lead text-justify">Git for scientists will teach you how to exploit a tool that will help you collaborate, track your changes and document your code.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">The open source community has quickly shifted to Github to host their projects. The same technology that powers collaborations among big, decentralized teams, can be powering also your research organization. It doesn't matter if you are in a big or small team, proper use of version control makes your work more efficient and less prone to error.</p>
          <p class="">What you are going to learn:</p>
          <ul>
            <li>Start your own Git project</li>
            <li>Configure remotes</li>
            <li>Use different sources: Gitlab, Bitbucket, Github</li>
            <li>Pull, Push, Merge</li>
            <li>Work with branches</li>
            <li>Setup a team project</li>
            <li>Pull requests</li>
            <li>Using issues to document changes</li>
            <li>Better document your code</li>
            <li>Document Python code with Read The Docs</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-success active btn-block" href="{{ SITEURL }}/courses/register">Sign Up &amp; Conditions</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Nex Courses -->
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Next courses</h4>
          <p class="my-3">April session: Tuesday 17th and Monday 23rd.</p>
          <p class="">If you are interested in a course, drop us an e-mail to <a href="mailto:courses@uetke.com">courses@uetke.com</a> or <a href="{{ SITEURL }}/courses/register">register</a>. </p>
        </div>
        <div class="col-md-6">
          <h4>What will you get</h4>
          <p class="text-justify">For <b>350€</b>, Git for Scientists is the most affordable course in Amsterdam. You will learn how to work with version control, in teams, and with the most useful resources. The course is aimed at scientists, but everyone is welcome to join; contact us if you are in doubt.</p>
          <p class="text-justify">The courses are two full days, from 10 am to 5 pm, and <b>lunch is included</b>. Please bring your own laptop; if you don't own one, let us know in advance and we can arrange something for you.</p>
        </div>
      </div>
    </div>
  </div> <!-- Nex Courses -->
{% include "static_pages/courses_location.html" %}
{% include "static_pages/courses_offer.html" %}
{% endblock %}