<div class="row py-3 mt-4">
    <div class="col-md-12">
      <h1 class="text-center">Projects</h1>
      <h3 class="text-center">Latest developments we have worked on</h3>
    </div>
    <div class="row py-2">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <a href="{{ SITEURL }}/projects/network-control"><img class="card-img-top d-none d-md-block" src="{{ SITEURL }}/theme/img/beaglebone-black-front_small.jpg" alt="Beaglebone"></a>
              <div class="card-body">
                <h6 class="card-title">Network Control</h6>
                <p class="card-text">Control devices through the network in an easy and customizable way. Don't need to depend on one computer</p>
                <a href="{{ SITEURL }}/projects/network-control" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="{{ SITEURL }}/projects/optical-tweezers"><img class="card-img-top d-none d-md-block" src="{{ SITEURL }}/theme/img/UUTrap_Screenshot_small.jpg" alt="Optical tweezers"></a>
              <div class="card-body">
                <h6 class="card-title">Optical Tweezers</h6>
                <p class="card-text">Quickly visualize data from an optical trap. It allows fast acquisition and customizable control.</p>
                <a href="{{ SITEURL }}/projects/optical-tweezers" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="{{ SITEURL }}/projects/camera-acquisition"><img class="card-img-top d-none d-md-block" src="{{ SITEURL }}/theme/img/UUTrack_screenshot_small.jpg" alt="Camera Acquisition Screenshot"></a>
              <div class="card-body">
                <h6 class="card-title">Camera Acquisition</h6>
                <p class="card-text">Real-time tracking and flexible platform for camera acquisition. Achieve frame rates in the range of the kHz.</p>
                <a href="{{ SITEURL }}/projects/camera-acquisition" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <a href="http://uutrack.readthedocs.io/en/latest/" target="_blank"><img class="card-img-top d-none d-md-block" src="{{ SITEURL }}/theme/img/documentation_small.jpg" alt="Read The Docs Screenshot  "></a>
              <div class="card-body">
                <h6 class="card-title">Documentation</h6>
                <p class="card-text">All our projects are shiped with beautiful documentation for you to keep developing and customizing</p>
                <a href="http://uutrack.readthedocs.io/en/latest/" target="_blank" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>